#chat{
background-color: lightgray;
width: 60%;
height: 500px;
border-style: inset;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
#message{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    max-width: 500px;
    word-wrap: break-word;
}
#userbox{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 20%;
    height: 500px;
    border-style: inset;
    justify-content: top;
    align-items: center;
}
#chatAndUsers{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#label{
display: flex;
justify-content: center;
border-style: outset;
width: 100%;
max-height: 12%;
}
#users{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}